<h2>Book List</h2>
<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Choose</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="loadPage($event)">All</button>
        <div *ngFor="let option of sortOptions">
          <button class="dropdown-item"
                  id="option" on-click="loadTopPage(option)">{{option}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
<br/>
<div>
  <table class="table">
    <thead>
    <tr>
      <td scope="col"></td>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Year</th>
      <th scope="col">Publisher</th>
      <th scope="col">Rating</th>
      <td scope="col">Rate</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books">
      <th scope="row"><img src={{book.imageUrlA_S}}></th>
      <td>{{book.abookTitle}}</td>
      <td>{{book.author}}</td>
      <td>{{book.bookPublicationYear}}</td>
      <td>{{book.bookPublisher}}</td>
      <td>{{book.rating | number}}</td>
      <td>rate</td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="7" [rotate]="true"
                  (pageChange)="loadPage($event)"></ngb-pagination>
</div>
